* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

/* Scrollbar customization */
* {
  scrollbar-width: thin;
  scrollbar-color: #fff;
}
/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: #2D333B;
}
*::-webkit-scrollbar-thumb {
  background-color: #848484;
  border-radius: 20px;
}

.home,
.about,
.map,
.book-flight {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.about {
  background-image: url('images/space-5.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.map {
  background-image: url('images/space-7.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.book-flight {
  background-image: url('images/space-10.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}


/* About */
img .about__team  {
  width: 20px;
}